.insta {
  .container {
    max-width: 100%;
    padding: 0px 43px;
    object-fit: cover;

    .gobi {
      text-align: center;
      padding: 70px 0 75px 0;

      h2 {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.87);
      }

      span {
        font-family: "Lato", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.87);
      }
    }

    .grids {
      display: grid;
      grid-template-areas:
        "one one three four eight eight"
        "two two five  six nine nine"
        "two two   seven seven  nine nine";
      gap: 2px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3);

      div {
        position: relative;
        overflow: hidden;
      }

      div img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        height: 100%;
        transform: scale(1.1);
      }
    }

    .one {
      grid-area: one;
    }

    .two {
      grid-area: two;
    }

    .three {
      grid-area: three;
    }

    .four {
      grid-area: four;
    }

    .five {
      grid-area: five;
    }

    .six {
      grid-area: six;
    }

    .seven {
      grid-area: seven;
    }

    .eight {
      grid-area: eight;
    }

    .nine {
      grid-area: nine;
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
  .insta .container {
    max-width: 100%;
    padding: 0px 10px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .insta .container {
    max-width: 100%;
    padding: 0px 5px;
    object-fit: cover;

    .grids {
      display: grid;
      grid-template-areas:
        "one one"
        "two two"
        "two two"
        "three four"
        "five  six"
        "seven seven"
        "eight eight"
        "nine nine"
        "nine nine";
      gap: 2px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(9);

      div {
        position: relative;
        overflow: hidden;
      }

      div img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        height: 100%;
        transform: scale(1.1);
      }
    }

    .one {
      grid-area: one;
    }

    .two {
      grid-area: two;
    }

    .three {
      grid-area: three;
    }

    .four {
      grid-area: four;
    }

    .five {
      grid-area: five;
    }

    .six {
      grid-area: six;
    }

    .seven {
      grid-area: seven;
    }

    .eight {
      grid-area: eight;
    }

    .nine {
      grid-area: nine;
    }
  }
}