.Main {
  .mainpage {
    .headertext h1 {

      background: black;
      width: auto;
      height: 30px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 200.69%;
      text-align: center;
      letter-spacing: 0.055em;
      color: #FFFFFF;
      margin: 0;
    }

    .container {
      position: relative;

      .background {
        z-index: -1;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .submenu {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
      }

      .grids {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


        .logogobi {
          margin: 0 auto;
          padding: 31px;
          width: 98px;
          margin-bottom: 10px;
        }

        .search {
          display: flex;
          padding: 23px;

          .location {
            padding-right: 30px;

            .dropbtn {
              color: white;
              padding: 5px;
              font-size: 16px;
              border: none;
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.085em;
              background: transparent;
            }

            .svg {
              cursor: pointer;
            }

            .dropdown {
              position: relative;
              display: inline-block;
            }

            .dropdown-content {
              display: none;
              position: absolute;
              z-index: 1;
            }

            .dropdown-content a {
              color: #ffffff;
              padding: 5px;
              text-decoration: none;
              display: block;
              font-size: 10px;
            }

            .dropdown:hover .dropdown-content {
              display: block;
            }

            .dropdown:hover .dropdown-content {
              display: block;
            }
          }

          .searchbar {
            display: flex;

            .haih h1 {
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 200.69%;
              letter-spacing: 0.08em;
              color: #FFFFFF;
              margin: 0 10px;
            }
          }
        }

        .sign {
          display: flex;
          justify-content: flex-end;

          .signin,
          .wish,
          .box {
            padding: 23px 17px;

            a {
              font-family: "Roboto", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 200.69%;
              letter-spacing: 0.08em;
              color: #FFFFFF;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
        }
      }

      .navigation {

        display: flex;
        justify-content: center;

        .cmenu ul li {
          list-style: none;

          a {
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 200.69%;
            text-align: center;
            letter-spacing: 0.125em;
            color: #FFFFFF;
            text-decoration: none;
            padding: 56px;
          }
        }
      }
    }
  }

  .maintext {

    .textbox {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0px 38px;

      .free {

        justify-content: center;
        padding: 68px 68px 30px 68px;

        h1 {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          letter-spacing: 0.25px;
          color: rgba(0, 0, 0, 0.87);

        }

        p {
          font-family: "Lato", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.25px;
          color: rgba(0, 0, 0, 0.87);

        }
      }
    }
  }

  .imgbox {
    .container {
      padding: 0px 96px;

      .grids {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-template-areas: "grid1 grid2"
          "grid3 grid4";
        gap: 16px;

        .grid1,
        .grid2,
        .grid3,
        .grid4 {
          img {
            object-fit: cover;
            width: 100%;
          }

          position: relative;

          .txt {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: 40px;
            margin-bottom: 36px;

            a {
              font-family: "Lato", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: 36px;
              letter-spacing: 0.5px;
              color: #FFFFFF;

            }
          }
        }
      }
    }

    .grid1 {
      grid-area: grid1;
    }

    .grid2 {
      grid-area: grid2;
    }

    .grid3 {
      grid-area: grid3;
    }

    .grid4 {
      grid-area: grid4;
    }
  }

  .insta {
    .container {
      padding: 73px 46px;

      .text {
        text-align: center;
        padding-bottom: 73px;

        h1 {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0.5px;
          color: rgba(0, 0, 0, 0.87);
        }

        p {
          font-family: "Lato", sans-serif;
          font-style: italic;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.25px;
          color: rgba(0, 0, 0, 0.87);

        }
      }

      .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 3;
        grid-column-gap: 10px;
        grid-template-areas:
          "img1 img1 img3 img4 img8 img8"
          "img2 img2 img5 img6 img9 img9"
          "img2 img2 img7 img7 img9 img9";

        .img1 {
          grid-area: img1;
        }

        .img2 {
          grid-area: img2;
        }

        .img3 {
          grid-area: img3;
        }

        .img4 {
          grid-area: img4;
        }

        .img5 {
          grid-area: img5;
        }

        .img6 {
          grid-area: img6;
        }

        .img7 {
          grid-area: img7;
        }

        .img8 {
          grid-area: img8;
        }

        .img9 {
          grid-area: img9;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .footer {
    .container {
      padding-top: 100px;

      .bottom {

        display: flex;

        .cmenu ul li {
          list-style: none;

          a {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.6px;
            color: rgba(0, 0, 0, 0.87);
          }
        }
      }
    }
  }
}