@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  display: block;
  padding: 30px;
  background: #f7f9f9;

  h5 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
    letter-spacing: 0.15em;
  }

  h1 {
    text-transform: uppercase;
    color: gainsboro;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    padding-left: 350px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.App-image {
  width: 100%;
}


.Dev {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;



.Text {

    margin-right: 100px;
    background-color: #DCDCDC;

    p {
      font-family: 'Playfair Display', serif;
      font-family: 'Roboto Condensed', sans-serif;
    }

  .On {
    width: 150px;
    margin-left: 40px;
  
  }

  .Year {
    
    display: flex;
    border-bottom: 2px solid grey;

    h4 {
      padding-right: 20px;
    }
  }
}
.Author img {
  width: 400px;
    } 

.Para {
  padding-top: 50px;
}

.Jil {
  display: flex;

}    

.Off {
  width: 150px;
  margin-left: 40px;
  font-size: 15px;
}

.Ner {
  text-align: center;
  width: 200px;
  border-bottom: 2px solid grey;
    }
  }

.End {
  background-color: lightgray;
  text-align: center;
  width: 1700px;
  margin-left: 70px;
  margin-top: 100px;

  .Bichig {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
  }

  .Steve {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
  }

  .Link {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
  }
}  
}